extends layout 

block content 
   div.flexCenter
      div.contentHeader(style="margin-bottom: 24px;")
            div(style="width: 175px;")
            div
               h2.contentHeaderText(style="margin: 0; padding: 12px 24px; text-align: center") #{category.name}
               p(style="text-align: center") #{category.description}
            a(href="/inventory/item/create")
               button(style="width: 175px") + Add new item
   div.cardGrid
      each item in items 
         div.category 
            div.cardImageWrapper
               img.cardImage(src='/images/categorypage.png')
            div.cardInfo
               h3 #{item.name} • $#{item.price}
               p(style="flex-grow: 1") #{item.description}
               h3 #{item.count} available
            div.cardButtons
               a(href=item.URL+"/update")
                  button(style="width: 120px") Update
               a(href=item.URL+"/delete")
                  button(style="width: 120px; background-color: red") Delete
      else 
         p(style="font-size: 18px; font-weight: bold; grid-column: 1 / 3") No items have been added to this category.