extends layout_detail

block header
   div(style="flex: 1")
   div
      h2.contentHeaderText #{category.name}
      div(style="display: flex; justify-content: center")
         img(style="width: auto; height: auto; max-width:200px; max-height:200px;", src=category.imageURL, onerror="this.src = '/images/default.png'; this.onerror=''")
      p.contentHeaderDescription #{category.description}
      div
         h3(style="text-align: center") #{items.length} items in this category 
      div.contentHeaderButtons
         a(style="text-decoration: none;", href="/item/new")
               button.cardButton Add item
         a(style="text-decoration: none;", href=category.URL+"/update")
               button.cardButton Update

   div(style="flex: 1")



block grid
   each item in items 
      div.card
         a.cardDetailLink(href=item.URL)
            if (item.imageURL)
               div.cardImageWrapper
                  img.cardImage(src=item.imageURL)
            div.cardInfo
               div(style="display: flex")
                  h3.cardName #{item.name}
                  h3.cardPrice $#{item.price}
               p(style="flex-grow: 1") #{item.description}
               h3 #{item.count} available
         div.cardButtons
            a(href=item.URL+"/update")
               button.cardButton Update
            a(href=item.URL+"/delete")
               button.cardButton(style="background-color: red") Delete
   else 
      p(style="font-size: 18px; font-weight: bold; grid-column: 1 / 3") No items have been added to this category.