extends layout

block content
  div.flexCenter
    div.contentHeader
      div(style="width: 200px")
      h2.contentHeaderText(style="font-weight: 100") #[strong #{item_count}] items in #[strong #{category_count}] categories
      a(href="/inventory/category/create")
        button(style="width: 200px") + Add new category
  div.cardGrid
    each category in categories 
      div.card
        a(href=category.URL, style="display: flex; text-decoration: none; width: 80%")
          if (category.imageURL)
            div.cardImageWrapper
              img.cardImage(src=category.imageURL)
          div.cardInfo
            h3 #{category.name}
            p #{category.description}
        div.cardButtons
          a(href=category.URL+'/update')
            button(style="width: 120px") Update
          a(href=category.URL+"/delete")
            button(style="width: 120px; background-color: red") Delete
    else 
      p No categories to display.

