extends layout_detail 

block header 
   div(style="flex: 1")
   div 
      h2.contentHeaderText #{item.name}
      div(style="display: flex; justify-content: center")
         img(style="width: auto; height: auto; max-width:200px; max-height:200px;", src=item.imageURL, onerror="this.src = '/images/default.png'; this.onerror=''")
      p.contentDescription #{item.description}
      h3.contentDescription $#{item.price} • #{item.count} available
      div(style="display: flex; justify-content: space-evenly")
         a(style="text-decoration: none;", href=item.URL+"/update")
            button.contentHeaderButton Update
         a(style="text-decoration: none;", href=item.URL + "/delete")
            button.contentHeaderButton(style="background-color: red") Delete
   div(style="flex: 1")